html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #121212;
  background: #f5f5f5;
}
.hero,
.about,
.projects,
.contacts {
  color: #121212;
  background: #ffffff;
  padding-top: 60px;
  padding-bottom: 90px;
}

h1.hero__title,
p.hero__text,
.about__title,
p.about__discription,
a.btn,
.projects__title,
h3.projects-item__title,
a.projects-item__link,
.projects__btn,
services__title,
h3.services-item__title,
.apartments__text,
.footer-menu__link {
  letter-spacing: -0.03em;
}
.about__title,
.projects__title,
.services__title,
.contacts__title {
  font-size: 18px;
  line-height: 24.59px;
}
.hero,
.about,
.projects,
.services,
.header,
.apartments,
.contacts,
.footer {
  max-width: 1400px;
  margin: 0 auto;
}

/*.header {
  min-width: 1180px;
  background: #ffffff;
  padding-top: 33px;
}

.header__container {
  max-width: 1180px;
  padding: 0 15px;
  margin: 0px auto;
  padding-top: 30px;
  padding-bottom: 30px;
}*/
.header {
  padding-top: 33px;
  background: #ffffff;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
}

/*.header-nav {
  display: inline-block;
  vertical-align: top;
}

.header-menu__link {
  display: inline-block;
  margin-right: 60px;
  text-align: center;
  text-decoration: none;
  size: 18px;
  line-height: 24px;
  color: #121212;
}
.header-menu__link_active {
  text-decoration: underline;
  display: inline-block;
  margin-right: 60px;
  text-align: center;
  size: 18px;
  line-height: 24px;
  color: #121212;
}*/
.header-nav {
}

.header-menu__list {
  display: flex;
  justify-content: space-between;
  column-gap: 60px;
}
.header-menu__list :last-child {
  margin-right: 0;
}
.header-menu__item {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-transform: uppercase;
  text-align: right;
}
.header-menu__link {
  display: inline-block;
  position: relative;
  color: #121212;
  line-height: 25px;
  text-decoration: none;
  cursor: pointer;
  /*-webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;*/
}
.header-menu__link:hover {
  opacity: 50%;
}

.header-logo {
  width: 127px;
  height: 22px;
  align-self: self-start;
}

.header-logo__link {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-right: 10px;
}

.header-logo__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  max-width: 1180px;
  padding: 0 15px;
  margin: 0 auto;
}

h1.hero__title {
  width: 956px;
  margin-top: 30px;
  font-size: 60px;
  line-height: 60px;

  color: black;
}

.hero__image {
  position: relative;
  /*width: 1150px;*/
  height: 500px;
  margin-top: 30px;

  background-image: url("../resourсes/image1.png");
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
}
p.hero__text {
  position: absolute;
  left: 40px;
  bottom: 40px;
  width: 430px;
  font-size: 20px;
  line-height: 27px;
  color: white;
}
.h2 {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-transform: uppercase;
}
.about__title {
  /*margin-top: 150px;*/
  color: black;
}
p.about__discription {
  /*height: 366px;*/
  margin-top: 30px;
  font-size: 45px;
  line-height: 61px;
}
a.btn {
  display: block;
  text-align: center;
  width: 300px;
  /*height: 67px;
  top: 277px;
  left: 125px;*/
  padding: 20px 40px;
  margin-top: 30px;

  border-radius: 5px;

  font-size: 20px;
  text-decoration: none;
  gap: 10px;
  color: white;
  opacity: 0px;
  background-color: #ad1818;
  cursor: pointer;
}
a.btn:hover {
  color: white;
  background-color: black;
}

.projects__title {
  /*margin-top: 150px;*/

  color: black;
}
.projects-item__img-wrapper {
  margin-top: 30px;
  height: 450px;
}
.projects-item__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projects-item__title {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 30px;
  line-height: 40.98px;
}
a.projects-item__link {
  color: #ad1818;
  font-size: 20px;
  line-height: 27.32px;
  text-decoration: none;
}
.projects-item {
  margin-bottom: 90px;
}
.projects__btn {
  display: block;
  width: 100%;
  height: 153px;
  line-height: 40.98px;
  border: 1px solid #ad1818;
  border-radius: 5px;
  font-size: 30px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ad1818;
  background-color: #fff;
  cursor: pointer;
}
.projects__btn:hover {
  color: #ffffff;
  background-color: #ad1818;
}
/* @section services */
.services {
  width: 100%;
  margin-bottom: 150px;
  padding: 151px 0 150px;
  color: #ffffff;
  background-color: #121212;
}

.services__title {
  /*padding-top: 150px;
  padding-left: 15px;*/
  color: #ffffff;
}
.services-item__img-wrapper {
  height: 270px;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.services-item__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.services-item__title {
  margin-top: 15px;
  padding-bottom: 30px;

  font-size: 30px;
  line-height: 40.98px;
  text-decoration-skip-ink: none;
}
.services-item__title:nth-last-child(1) {
  margin-bottom: 0px;
}
.services-item {
  padding-top: 60px;
}
/* @section apartments */
.apartments {
  height: 717px;
  background-image: url("../resourсes/apartment_project.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
.apartments__image {
  position: relative;
  height: 717px;
}
.apartments__text {
  width: 443px;
  position: absolute;
  bottom: 60px;
  font-size: 30px;
  line-height: 41px;
  color: #ffffff;
}
.contacts {
  padding-top: 150px;
}
/*.container-contacts {
  width: 473px;
  height: 217px;
  padding-left: 124px;
}*/
.contacts__title {
  position: relative;
}

.contacts__title::before {
  content: "";
  display: block;
  position: absolute;
  top: -60px;
  width: 24px;
  height: 24px;
  background-image: url("../resourсes/icon_phone.png");
  background-repeat: no-repeat;
}
.contacts__list {
  margin-top: 32px;
}
.contacts__list:first-child {
  margin-top: 0px;
}
.contacts__item {
  margin-top: 30px;
}
.contacts__link {
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -0.03em;
  text-align: left;
  text-decoration: none;
  color: #121212;
}
.contacts__link:hover {
  opacity: 50%;
}
/*@footer*/

.footer {
  background: #121212;
  height: 229px;
}
.footer-container {
}

.footer-nav-container {
  width: 600px;
  height: 25px;
  position: relative;
  padding-top: 60px;
  padding-left: 470px;
}
.footer-nav-container::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -120px;
  right: 180px;
  width: 329px;
  height: 27px;
  size: 20px;
  background-image: url("../resourсes/studia_metrica.png");
  background-repeat: no-repeat;
}

.footer-menu__item {
  vertical-align: top;
  display: inline-block;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.footer-menu__link {
  display: inline-block;
  margin-right: 60px;
  color: #ffffff;
  line-height: 25px;
  text-decoration: none;
  cursor: pointer;
}
.footer-menu__link:hover {
  opacity: 50%;
}
