body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #121212;
}

h1 {
  text-align: left;
  width: 1150px;
  margin: 0 auto 30px;
  font-size: 60px;
  line-height: 60px;
  color: black;
}

.image1 {
  width: 1150px;
  height: 410px;
  margin: 0px auto 150px;
  padding-top: 566px;
  padding-left: 65px;
  /*top: 277px;
    left: 125px;*/
  background-image: url("../resoures/image1.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.text1 {
  text-align: left;
  color: white;
}

p {
  text-align: left;
  font-size: 20px;
  line-height: 27.32px;
  width: 430px;
  height: 81px;
  margin-top: 100px;
}

h4 {
  text-align: left;
  /*width: 1051px;*/
  margin: 0 auto 30px 132px;
  font-size: 18px;
  line-height: 24.59px;
  letter-spacing: -0.03em;
  color: black;
}
h2 {
  text-align: left;
  /*width: 1048px;*/
  height: 366px;
  margin: 0 auto 30px 132px;
  font-size: 45px;
  line-height: 61.47px;
}

.btn {
  display: block;
  text-align: center;
  width: 255px;
  height: 67px;
  top: 277px;
  left: 125px;
  padding: 20px 40px 20px 40px;
  margin: 0 auto 0 132px;

  border-bottom: #121212;
  border-radius: 5px 5px 5px 5px;

  font-size: 20px;
  text-decoration: none;
  gap: 10px;
  color: white;
  opacity: 0px;
  background-color: #ad1818;
  cursor: pointer;
}
.btn:hover {
  color: white;
  background-color: black;
}
