body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
     color:#121212;
}

h1 {
    font-size: 60px;
    line-height: 60px;
    text-align: left;

   

}
p {
    text-align: left;
    font-size: 20px;
    line-height: 27.32px;
}

h5 {
   
font-size: 18px;
line-height: 24.59px;
letter-spacing: -0.03em;
text-align: left;
}
h2 {
    font-size: 45px;
    line-height: 61.47px;
    letter-spacing: -0.03em;
    text-align: left;
}
.image1 {
width: 1150px;
height: 500px;

background-image: url('../resorces/.image1.png');
background-size:contein;
background-repeat: no-repeat;

padding-top: 657px;
padding-left: 165px;
}
.text1 {
    color: blueviolet;
    text-align: left;
    
}